.orange{
    background-color: orange;
    padding: 5px;
    border-radius: 2px;
}
.blue{
    background-color: blue;
    padding: 5px;
    border-radius: 2px;
}

.red{
    background-color: red;
    padding: 5px;
    border-radius: 2px;
}
.yellow{
    background-color: yellow;
    padding: 5px;
    border-radius: 2px;
}

.green{
    background-color: green;
    padding: 5px;
    border-radius: 2px;
}
.purple{
    background-color: purple;
    padding: 5px;
    border-radius: 2px;
}
.bold{
    font-weight: bold;
}













